---
export const prerender = true;

import Layout from "~layouts/Layout.astro";
import CtaLink from "~components/CtaLink.astro";
import Subscribe from "../components/Subscribe.astro";
import Search from "../components/icons/Search.astro";
import SearchResults from "./search.astro";
import { Frame } from "simple:frame";
---

<Layout title="#whiteboardtheweb" canonicalBase="" preconnectToYoutube={true}>
  <header>
    <div class="heading">
      <h1 transition:name="heading" id="whiteboardtheweb__heading">
        #WhiteboardtheWeb
      </h1>
    </div>
    <ul class="social-links" role="list">
      <li>
        <a
          target="_blank"
          rel="noreferrer"
          href="https://www.youtube.com/@bholmesdev">YouTube</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noreferrer"
          href="https://twitter.com/bholmesdev">Twitter</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noreferrer"
          href="https://tiktok.com/@bholmesdev">TikTok</a
        >
      </li>
    </ul>
    <Subscribe />
    <wtw-search>
      <form data-frame="search" data-mirror-query="false">
        <input
          type="search"
          name="query"
          data-target="wtw-search.input"
          data-action="input:wtw-search#onSearch"
          transition:persist
          placeholder="React, Tailwind, Astro..."
        />
        <Search />
      </form>
    </wtw-search>
  </header>
  <Frame component={SearchResults} />
  <CtaLink href="https://twitter.com/hashtag/whiteboardtheweb?f=live">
    Explore full #whiteboardtheweb archive
  </CtaLink>
</Layout>

<script>
  import { colorIntersectionObserver } from "~utils";
  import { controller, target } from "@github/catalyst";
  import { debounce } from "@github/mini-throttle/decorators";

  // shift bg color back to heading color
  // when heading scrolls into view
  const heading = document.getElementById("whiteboardtheweb__heading");
  if (heading) {
    const isTopOfPageObserver = colorIntersectionObserver(heading);
    isTopOfPageObserver.observe(heading);
  }

  @controller
  class WtwSearchElement extends HTMLElement {
    @target input!: HTMLInputElement;

    @debounce(300)
    onSearch(e: InputEvent) {
      const target = e.target as HTMLInputElement;
      target.form?.requestSubmit();
    }
  }
</script>

<style>
  .heading {
    display: grid;
    margin-block: 1rem;
  }

  h1 {
    margin: 0;
    font-size: var(--font-size-xxl) !important;
    color: hsl(var(--color-hs), 20%) !important;
    text-align: center;
  }

  .social-links {
    padding: 0;
    margin-block-end: 3rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .social-links a,
  .social-links a:visited {
    color: hsl(var(--color-hs), 40%);
    text-decoration: none;
    font-weight: 700;
    transition: opacity 0.2s;
  }

  .social-links a:hover {
    opacity: 0.7;
  }

  form {
    display: flex;
    align-items: center;
    margin-block-end: 1rem;
    background-color: hsl(var(--color-hs), 95%);
    border-radius: 0.5rem;
    color: hsl(var(--color-hs), 30%);
    padding-inline: 1.6rem;
    gap: 0.8rem;
  }

  form input {
    border-radius: inherit;
    background-color: inherit;
    border: none;
    padding-block: 0.6rem;
    font-size: inherit;
    font-family: inherit;
    flex: 1;
  }
  form input::placeholder {
    color: hsl(var(--color-hs), 70%);
  }
  form:focus-within {
    outline: hsl(var(--color-hs), 50%) auto 2px;
  }
  form input:focus {
    outline: none;
  }
  form :global(svg) {
    color: hsl(var(--color-hs), 30%);
    width: 1.2em;
    height: 1.2em;
  }
</style>
