---
import { VideoDocument } from '~/_types'
import Layout from '~/layouts/Layout.astro';
import Card from '~/components/Card.astro';
import sortBy from 'just-sort-by';
import { getEditionInfo, stripHtmlHeadings } from '~/utils';
import CtaLink from '~/components/CtaLink.astro';
import Video from '~/components/Video';

const videos: VideoDocument[] = await Astro.glob('../editions/*.md');
const hasYoutubeEmbed = videos.some(video => Boolean(video.frontmatter.youtube));

Astro.response.headers.set(
	'cache-control',
	'public, max-age=31536000'
);
---
<Layout title="#whiteboardtheweb" canonicalBase="" preconnectToYoutube={hasYoutubeEmbed}>
		<h1>#WhiteboardtheWeb</h1>
		<div class="list">
			{sortBy(videos, 'file').reverse().map(({ file, compiledContent, frontmatter, getHeadings }) => (
				<Card
					title={getHeadings().find(h => h.depth === 1)?.text}
					htmlBody={stripHtmlHeadings(compiledContent())} 
					url={`/${getEditionInfo(file)?.base ?? ''}`}
					{...frontmatter}>
					<Video slot="video" client:load type="youtube" title={getHeadings().find(h => h.depth === 1)?.text} src={frontmatter.youtube} editionInfo={getEditionInfo(file)} />
				</Card>
			))}
			<CtaLink href="https://twitter.com/hashtag/whiteboardtheweb?f=live">Explore full #whiteboardtheweb archive</CtaLink>
		</div>
</Layout>

<style>

	h1 {
		margin: 2rem 0;
		font-size: var(--font-size-xxl) !important;
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.list :global(article):nth-child(4n + 1) {
    --color: var(--orange);
    --color-hs: var(--orange-hs);
  }
  
  .list :global(article):nth-child(4n + 2) {
    --color: var(--green);
    --color-hs: var(--green-hs);
  }
  
  .list :global(article):nth-child(4n + 3) {
    --color: var(--pink);
    --color-hs: var(--pink-hs);
  }
  
  .list :global(article):nth-child(4n + 4) {
    --color: var(--purple);
    --color-hs: var(--purple-hs);
  }
</style>
