---
import { TweetResponse } from '../_types'
import Layout from '../layouts/Layout.astro';
import Tweet from '../components/Tweet.astro';

let twitterFetchError = false
let tweetResponse: TweetResponse

try {
	const reqHeaders = new Headers()
	reqHeaders.set('Content-Type', 'application/json')
	reqHeaders.set('Authorization', `Bearer ${import.meta.env.TWITTER_API_TOKEN}`)

	const { data: { id: userId } } = await fetch('https://api.twitter.com/2/users/by/username/BHolmesDev', {
		method: 'GET',
		headers: reqHeaders,
	}).then(res => res.json())

	console.log({userId})

	const userUrl = new URL(`https://api.twitter.com/2/users/${userId}/tweets`)
	userUrl.searchParams.set('expansions', 'attachments.media_keys')
	userUrl.searchParams.set('tweet.fields', 'entities')
	userUrl.searchParams.set('media.fields', 'variants')

	tweetResponse = await fetch(userUrl.toString(), {
		method: 'GET',
		headers: reqHeaders,
	}).then(res => res.json())
} catch {
	twitterFetchError = true
}

---
<Layout title="Welcome to Astro.">
	{twitterFetchError ? 'Ah!' : (
		<main>
			<h1>#WhiteboardtheWeb</h1>
			<ul role="list" class="tweet-list">
				{tweetResponse.data.map(tweet => <Tweet tweet={tweet} />)}
			</ul>
		</main>
	)}
</Layout>

<style>

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
    	padding: 1em;
		max-width: var(--content-max-width);
	}

	.tweet-list {
		/* max-width: var(--content-max-width);
		margin: auto; */
	}
</style>
