---
import type { TweetResponse } from '../_types'
import { tweetResponseSchema } from '../_types.generated'
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import sortBy from 'just-sort-by';
import { stripHtmlHeadings } from '../utils';

const videos: VideoDocument[] = await Astro.glob('./*.md');

---
<Layout title="#whiteboardtheweb">
		<h1>#WhiteboardtheWeb</h1>
		<div class="list">
			{sortBy(videos, 'file').reverse().map(({ compiledContent, frontmatter, getHeadings }) => (
				<Card
					heading={getHeadings().find(h => h.depth === 1)?.text}
					htmlBody={stripHtmlHeadings(compiledContent())} 
					{...frontmatter} />
			))}
		</div>
</Layout>

<style>

	h1 {
		margin: 2rem 0;
		font-size: var(--font-size-xxl) !important;
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>
