---
import RightArrowCircle from "./icons/RightArrowCircle.astro";

type Props = any;
---

<a class="cta" {...Astro.props}>
  <span class="desktop">
    <slot name="label"><slot /></slot>
  </span>
  <span class="mobile sr-only">
    <slot name="label"><slot /></slot>
  </span>
  <slot name="icon">
    <RightArrowCircle />
  </slot>
</a>

<style>
  .cta,
  .cta:visited {
    text-decoration: none;
    color: hsl(var(--color-hs), 17%);
    font-weight: 700;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 2px solid hsl(var(--color-hs), 90%);
    border-radius: 9e9px;
    background: linear-gradient(90deg, transparent 50%, var(--color) 50%);
    background-size: 200% 100%;
    transition-property: background-position-x, color, border-color;
    transition-duration: 0.2s;
  }

  .cta:hover,
  .cta:focus-visible {
    background-position-x: -100%;
    color: white;
    border-color: var(--color);
  }

  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }

  @media (min-width: 600px) {
    .cta,
    .cta:visited {
      padding-inline: 1rem;
    }

    .desktop {
      display: inline;
    }
    .mobile {
      display: none;
    }
  }
</style>
