---
import type { GetStaticPathsItem } from "astro";
import { getCollection } from "astro:content";
import { getEditionInfo } from "~utils";

export const prerender = true;

export async function getStaticPaths() {
  const editions = await getCollection("editions");
  let shortlinks: GetStaticPathsItem[] = [];
  for (let { id, data } of editions) {
    const info = getEditionInfo(id);
    if (info) {
      shortlinks.push({
        params: {
          shortlink: "tw",
          edition: `${info.num}`,
        },
        props: { link: data.twitter },
      });
      shortlinks.push({
        params: {
          shortlink: "yt",
          edition: `${info.num}`,
        },
        props: { link: data.youtube },
      });
    }
  }
  return shortlinks;
}

type Props = { link: string };

const { link } = Astro.props;
---

<!DOCTYPE html>
<title>Redirecting to: {link}</title>
<meta http-equiv="refresh" content=`0;url=${link}` />
