---
import { MarkdownLayoutProps } from 'astro';
import BaseLayout from './Layout.astro'

type Props = MarkdownLayoutProps<{
  youtube: string;
  twitter: string;
}>;

const { headings, frontmatter } = Astro.props;

Astro.response.headers.set(
	'Cache-control',
	'public, max-age=31536000'
)

const title = headings.find(h => h.depth === 1)?.text ?? 'Whiteboard the Web'
---

<BaseLayout title={title} preconnectToYoutube={Boolean(frontmatter.youtube)}>
  <a href={frontmatter.youtube}>Youtube</a>
  <a href={frontmatter.twitter}>twitter</a>
  <slot />
</BaseLayout>
