---
type Props = {
	title: string;
  preconnectToYoutube?: boolean;
}

const { title, preconnectToYoutube } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  {preconnectToYoutube ? (
    <link rel="preconnect" href="https://www.youtube-nocookie.com">
    <link rel="preconnect" href="https://img.youtube.com.com">
  ) : null}
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link
    rel="preload"
    href="/fonts/Atkinson-Hyperlegible-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous">
  <link
    rel="preload"
    href="/fonts/Atkinson-Hyperlegible-Bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous">
  <link
    rel="preload"
    href="/fonts/Atkinson-Hyperlegible-Italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous">
  <link
    rel="preload"
    href="/fonts/Atkinson-Hyperlegible-BoldItalic.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous">
    <link
    rel="preload"
    href="/fonts/Sriracha-Regular.ttf"
    as="font"
    type="font/ttf"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/fonts.css">
	<title>{title}</title>
</head>
<body>
  <main>
    <slot />
  </main>
  <footer>
    <p>Made with ❤️ by <a href="https://twitter.com/bholmesdev" target="_blank" rel="noreferrer">@bholmesdev</a></p>  
  </footer>
</body>
</html>

<style>
  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem); 
		--font-size-xl: clamp(1.6rem, 1.4vw + 1.45rem, 2.1rem); 
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --color-text: hsl(12, 5%, 4%);
    --content-max-width: 55ch;
  }

  html {
    font-family: Atkinson, system-ui, sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  body {
    margin: 0;
  }

  main {
		margin: auto;
    	padding: 1em;
		max-width: var(--content-max-width);
	}

  footer {
    padding-block-start: 2rem;
    padding-block-end: 4rem;
    font-style: italic;
    display: grid;
    place-items: center;
  }

  footer a, footer a:visited {
    font-weight: bold;
    color: currentColor;
  }

  :global(h1) {
    font-family: Sriracha, system-ui, sans-serif;
    font-size: var(--font-size-xl);
  }

  :global(h2) {
    font-size: var(--font-size-lg);
  }

  :global(code) {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
  }

  :global(button) {
    all: unset;
  }
</style>
